{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Pooyan Ghanbari</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css'%}">
	<link rel="stylesheet" href="{% static 'css/layout.css'%}">
   <link rel="stylesheet" href="{% static 'css/media-queries.css'%}">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'js/modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'images/profilegnb.jpg'%}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#skill">Skills</a></li>
            <li><a class="smoothscroll" href="#language">Languages</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Pooyan Ghanbari.</h1>
            <h3>I'm a <span>backend developer</span> and <span>video editor</span> creating awesome videos 
            websites and videos. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.linkedin.com/in/pooyan-ghanbari/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/pooyanghanbari/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/PooyanGnb"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/profilegnb.jpg'%}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
               I'm Pooyan Ghanbari. On January 3, 2002 I was born in Rasht. Currently, I'm studying bacholr of computer engineering in Azad University.
               When I was 18, I learned how to edit videos. I edited videos for 2 years and I was getting better and earn more money but i decided to leave it
               and started studying Python. After studying for months of studying Python, i decided to become a backend developer so I started studying Django.
               Today, at my 20, I'm a Django newbie and trying to get better at it.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>+98 903 453 6608</span><br>
                     <span>pnghanbari@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://drive.google.com/file/d/1KGTdrGTxGPbm783OzVki7KjAEJcw8Eau/view?usp=sharing" class="button"><i class="fa fa-download"></i>Download Resume(in Persian)</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Azad University</h3>
                  <p class="info">Bachelor of Computer Engineering(Software) <span>&bull;</span> <em class="date">2020 - Now</em></p>

                  <p>
                     I'm learning software engineering and a little bit of hardware enginnering in this program.
                     The main programming language is c++ but most of profssors let us free to choose any language we want,
                      so i choosed python as my main language for university's project.
                  </p>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Freelance</h3>
                  <p class="info">Video editor <span>&bull;</span> <em class="date">November 2020 - July 2022</em></p>

                  <p>
                     At first, I edited unknown youtubers' videos. As time passed, I became better editor and I got a job offer
                     by a known youtube and we worked together for 6 months. Then I applied for a position which was being a backup editor for really famous youtubers.
                     I've worked with "Parsalip" and "HamiKM" for another 6 months. Premiere pro and After effect were only apps that i used trough this journey.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->
   

      <!-- Skills
      ----------------------------------------------- -->
      <section id="skill">
         <div class="row skill">

            <div class="three columns header-col">
               <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">


               <div class="bars">

                  <ul class="skills">
                     <li><span class="bar-expand html5"></span><em>Python</em></li>
                     <li><span class="bar-expand wordpress"></span><em>Django</em></li>
                     <li><span class="bar-expand illustrator"></span><em>GitHub</em></li>
                     <li><span class="bar-expand wordpress"></span><em>HTML&CSS</em></li>
                     <li><span class="bar-expand illustrator"></span><em>MySQL</em></li>
                     <li><span class="bar-expand css"></span><em>Adobe Premiere</em></li>
                  </ul>

               </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

      </div> <!-- End skills -->
      </section>

            <!-- Skills
      ----------------------------------------------- -->
      <section id="language">
         <div class="row language">

            <div class="three columns header-col">
               <h1><span>Languages</span></h1>
            </div>

            <div class="nine columns main-col">


               <div class="bars">

                  <ul class="skills">
                     <li><span class="bar-expand css"></span><em>Farsi</em></li>
                     <li><span class="bar-expand illustrator"></span><em>English</em></li>

                  </ul>

               </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

      </div> <!-- End skills -->
      </section>
      
   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">


               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="{% static 'images/portfolio/console.jpg'%}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Reaction video Editing</h5>
                              <p>Video Editing</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="{% static 'images/portfolio/into-the-light.jpg'%}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Vlog Video Editing</h5>
                              <p>Video Editing</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="{% static 'images/portfolio/farmerboy.jpg'%}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Car price determinator</h5>
                              <p>Script</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->


         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/m-console.jpg'%}" alt="" />

		      <div class="description-box">
			      <h4>Reaction video Editing</h4>
			      <p>Here is a sample of my reaction video editing.</p>
               <span class="categories"><i class="fa fa-tag"></i>Video Editing, Premiere Pro</span>
		      </div>

            <div class="link-box">
               <a href="https://youtu.be/sQjW2wa3Y_s" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->


         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/m-intothelight.jpg'%}" alt="" />

		      <div class="description-box">
			      <h4>Vlog Video Editing</h4>
			      <p>Here is a sample of my vlog video editing.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="https://youtu.be/oBLNgSesydc" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/m-farmerboy.jpg'%}" alt="" />

		      <div class="description-box">
			      <h4>Car price determinator</h4>
			      <p>This script helps you to find a reasonable price for your car and it helps you to find cars in range of your budget by collecting data from TrueCar.com and saving it in a decided database.</p>
               <span class="categories"><i class="fa fa-tag"></i>Sctipt, Machine Learning</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/PooyanGnb/FirstProject" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->





      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>


            </div>

         </div>

         <div class="row">



            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>City and Contact information</h4>
					   <p class="address">
						   Pooyan Ghanbari<br>
						   Rasht, Gilan, Iran <br>
						   <span>+98 903 453 6608</span><br>
                     pnghanbari@gmail.com
					   </p>

				   </div>



            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.linkedin.com/in/pooyan-ghanbari/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/pooyanghanbari/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/PooyanGnb"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write("<script src=\"{% static 'js/jquery-1.10.2.min.js'%}\"><\/script>")</script>
   <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js'%}"></script>

   <script src="{% static 'js/jquery.flexslider.js'%}"></script>
   <script src="{% static 'js/waypoints.js'%}"></script>
   <script src="{% static 'js/jquery.fittext.js'%}"></script>
   <script src="{% static 'js/magnific-popup.js'%}"></script>
   <script src="{% static 'js/init.js'%}"></script>

</body>

</html>